<section class="phx-hero">
  <h1>Hello World</h1>  
  <p>selected_user: <%= @selected_user.email %> (<%= @selected_user.id %>)</p>
  <p>current_user: <%= @current_user.email %> (<%= @current_user.id %>)</p>
</section>
